@import 'tailwindcss';

@source './src/**/*.{html,js,svelte,ts}';

/**
 * Base Styles
 */
* {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
}
